@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

html,
body {
  overflow-x: hidden;
  background: #2F2E2C;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
}

.main {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1000px;
  height: 500px;
  background: #333;
}

.main__heading {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  top: -50px;
}

.main__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main__item {
  width: 100px;
  height: 100px;
  background: #a7a6a6;
  margin: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.main__item:hover {
  background: #fff;
}

.main__item.armored {
  background: red;
}

.screen__item {
  position: fixed;
  width: 500px;
  height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
          box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  background: rgba(47, 46, 44, 0.45);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  z-index: 9;
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
}

.screen__item.active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.screen__item-block ion-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  color: #fff;
  cursor: pointer;
}

.screen__item-heading {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 50px;
  margin-bottom: 45px;
}

.screen__item-form {
  margin-left: 50px;
  margin-top: 40px;
}

.screen__item-form a {
  padding: 18px 50px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background: #fff;
}

.screen__item-form a:hover {
  -webkit-border-radius: 0;
          border-radius: 0;
}

.screen__item-form a.active {
  background: red;
}

.screen__item-form input.number {
  opacity: 0;
}

.form__item {
  position: fixed;
  width: 500px;
  height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
          box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  background: rgba(47, 46, 44, 0.45);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  z-index: 9;
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
}

.form__item.active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.form__item-heading {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 50px;
  margin-bottom: 20px;
}

.form__item-text {
  margin-left: 50px;
  margin-bottom: 25px;
  font-size: 1rem;
  max-width: 310px;
  line-height: 120%;
  color: #fff;
}

.form__item-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50px;
}

.form__item-form input {
  background: none;
  padding: 10px;
  border: none;
  outline: none;
  margin-bottom: 25px;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1rem;
}

.form__item-form input::-webkit-input-placeholder {
  color: #fff;
  font-size: 1rem;
}

.form__item-form input:-ms-input-placeholder {
  color: #fff;
  font-size: 1rem;
}

.form__item-form input::-ms-input-placeholder {
  color: #fff;
  font-size: 1rem;
}

.form__item-form input::placeholder {
  color: #fff;
  font-size: 1rem;
}

.form__item-form a {
  padding: 10px 30px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  background: red;
  color: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.form__item-form a:hover {
  -webkit-border-radius: 0;
          border-radius: 0;
}

.form__item-form button {
  padding: 10px 25px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  background: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.form__item-form button:hover {
  -webkit-border-radius: 0;
          border-radius: 0;
}

.form__item-form .form__item-form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.code {
  visibility: hidden;
  position: absolute;
}

.place {
  visibility: hidden;
  position: absolute;
}

.form__item-text-block {
  padding: 20px 100px;
  font-size: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  color: #000;
  margin-bottom: 35px;
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #4bedc2;
  width: 0%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.code__item {
  position: absolute;
  width: 500px;
  height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
          box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  background: rgba(47, 46, 44, 0.45);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  z-index: 9;
}

.code__item-block {
  margin-left: 50px;
}

.code__item-heading {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 25px;
}

.code__item-text {
  color: #000;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 500;
  background: #fff;
  padding: 15px 100px;
  margin-bottom: 50px;
}

.code__item-form-block a {
  color: #000;
  font-size: 1.1rem;
  background: #4bedc2;
  text-decoration: none;
  font-weight: 600;
  padding: 15px 30px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.code__item-form-block a:hover {
  background: #fff;
}
