.onboard {
    position: fixed;
    width: 327px;
    height: 341px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    background: $text;
    z-index: 10;
    border-radius: 32px;
    transform: translateX(-200%);
    transition: .5s ease;
    * {
        color: $main-color;
    }
    &__container {
        max-width: 271px;
    }

    &__body {
        display: flex; 
        margin-top: 32px;
        flex-direction: column;
    }

    &__block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        &:nth-child(1) {
            margin-bottom: 26px;
        }
        &:nth-child(2) {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
        }
    }

    &__heading {
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        text-align: center;
        max-width: 263px;
        margin-bottom: 5px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #92929D;
        text-align: center;
        max-width: 263px;
    }

    &__pagination-wrapper {
        display: flex;
    }

    &__pagination {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $primary-color;
        opacity: .4;
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
        &.active {
            opacity: 1;
            width: 32px;
            border-radius: 100px;
        }
    }

    &__btn-wrapper {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 20px;
        background: $tertiary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 47px;
            background: $primary-color;
        }
    }

    &__btn-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 75px;
        background: $text;
        border-radius: 20px;
        z-index: 1;
    }

    &__btn {
        width: 60px;
        height: 60px;
        border-radius: 15px;
        background: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__btn-arrow {
        width: 7px;
        height: 14px;
        background: url(/img/arrow-btn.svg);
        @include background;
    }
}