@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html,
body {
    overflow-x: hidden;
    background: #2F2E2C;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &::-webkit-scrollbar {
        width: 0;
    }
}

.main {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1000px;
        height: 500px;
        background: #333;
    }

    &__heading {
        font-size: 1.6rem;
        font-weight: 600;
        color: #333;
        text-transform: uppercase;
        position: absolute;
        left: 0px;
        top: -50px;
    }

    &__block {
        display: flex;
    }

    &__item {
        width: 100px;
        height: 100px;
        background: rgb(167, 166, 166);
        margin: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        font-weight: 500;
        cursor: pointer;
        transition: .3s ease;
        border-radius: 6px;
        &:hover {
            background: #fff;
        }
        &.armored {
            background: red;
        }
    }
}

 
    .screen__item {
        position: fixed;
        width: 500px;
        height: 400px;
        display: flex;
        align-items: center;
        box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
        transition: .5s ease;
        background: rgba( 47, 46, 44, 0.45 );
        box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
        backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.25 );
        z-index: 9;
        transform: translateY(-200%);
        &.active {
            transform: translateY(0);
        }
    }

    .screen__item-block {
        ion-icon {
            position: absolute;
            top: 20px;
            right: 20px;
            height: 40px;
            width: 40px;
            color: #fff;
            cursor: pointer;
        }
    }

    .screen__item-heading {
        color: #fff;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-left: 50px;
        margin-bottom: 45px;
    }

    .screen__item-form {
        margin-left: 50px;
        margin-top: 40px;
        a {
            padding: 18px 50px;
            border: none;
            font-weight: 700;
            font-size: 1rem;
            cursor: pointer;
            transition: .2s ease;
            border-radius: 6px;
            background: #fff;
            &:hover {
                border-radius: 0;
            }
            &.active {
                background: red;
            }
        }
        input.number {
            opacity: 0;
        }
    }

		.form__item {
            position: fixed;
            width: 500px;
            height: 400px;
            display: flex;
            align-items: center;
            box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
            transition: .5s ease;
            background: rgba( 47, 46, 44, 0.45 );
            box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
            backdrop-filter: blur( 10px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.25 );
            z-index: 9;
            transform: translateY(200%);
            &.active {
                transform: translateY(0);
            }
		}

		.form__item-block {
		}

		.form__item-heading {
            color: #fff;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 600;
            margin-left: 50px;
            margin-bottom: 20px;
		}

		.form__item-text {
            margin-left: 50px;
            margin-bottom: 25px;
            font-size: 1rem;
            max-width: 310px;
            line-height: 120%;
            color: #fff;
		}

		.form__item-form {
            display: flex;
            flex-direction: column;
            margin-left: 50px;
            
            input {
                background: none;
                padding: 10px;
                border: none;
                outline: none;
                margin-bottom: 25px;
                border-bottom: 1px solid #fff;
                color: #fff;
                font-size: 1rem;
                &::placeholder {
                    color: #fff;
                    font-size: 1rem;
                }
            }

            a {
                padding: 10px 30px;
                border: none;
                font-weight: 700;
                font-size: 1rem;
                cursor: pointer;
                transition: .2s ease;
                background: red;
                color: #fff;
                border-radius: 4px;
                &:hover {
                    border-radius: 0;
                }
            }
            button {
                padding: 10px 25px;
                border: none;
                font-weight: 700;
                font-size: 1rem;
                cursor: pointer;
                transition: .2s ease;
                background: #fff;
                border-radius: 4px;
                &:hover {
                    border-radius: 0;
                }
            }

            .form__item-form-block {
                display: flex;
                justify-content: space-between;
            }
		}

        .code {
            visibility:hidden;
            position: absolute;
        }

        .place {
            visibility:hidden;
            position: absolute;
        }

        .form__item-text-block {
            padding: 20px 100px;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            color: #000;
            margin-bottom: 35px;
        }

        .loading-screen {
            position: relative;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            background-color: #4bedc2;
            width: 0%;
            height: 100%;
        }
        
        .load-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            z-index: 10;
            pointer-events: none;
        }

                .code__item {
                    position: absolute;
                    width: 500px;
                    height: 400px;
                    display: flex;
                    align-items: center;
                    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
                    transition: .5s ease;
                    background: rgba( 47, 46, 44, 0.45 );
                    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
                    backdrop-filter: blur( 10px );
                    border-radius: 10px;
                    border: 1px solid rgba( 255, 255, 255, 0.25 );
                    z-index: 9;
                }
        
                .code__item-block {
                    margin-left: 50px;
                }
        
                .code__item-heading {
                    color: #fff;
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-bottom: 25px;
                }
        
                .code__item-text {
                    color: #000;
                    font-size: 1.7rem;
                    text-transform: uppercase;
                    font-weight: 500;
                    background: #fff;
                    padding: 15px 100px;
                    margin-bottom: 50px;
                }
        
                .code__item-text-block {
                }
        
                .code__item-form {
  
                }
        
                .code__item-form-block {
                    a {
                        color: #000;
                        font-size: 1.1rem;
                        background: #4bedc2;
                        text-decoration: none;
                        font-weight: 600;
                        padding: 15px 30px;
                        border-radius: 4px;
                        transition: .3s ease;
                        &:hover {
                            background: #fff;
                        }
                    }
                }
